<a href="https://colab.research.google.com/github/swapnil-mergal/Python2023practice/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
person = {
    'first_name': "Humayun",
    'last_name': "Kabir",
    'age': 25,
    'sex': "Male",
    'married': False
}

In [2]:
print(person['first_name'])
print(person['sex'])

Humayun
Male

In [3]:
for key in person.keys():
    print(key)

first_name
last_name
age
sex
married

In [4]:
for value in person.values():
    print(value)

Humayun
Kabir
25
Male
False

In [5]:
for key, value in person.items():
    print(f"{key} : {value}")

first_name : Humayun
last_name : Kabir
age : 25
sex : Male
married : False

In [6]:
if 'sex' in person.values():
    print("Yes, it has!")

In [7]:
# copy: copy a dictionary
individual = person.copy()
print(individual)

print(person is individual)
print(person == individual)

{'first_name': 'Humayun', 'last_name': 'Kabir', 'age': 25, 'sex': 'Male', 'married': False}
False
True

In [8]:
# clear: delete everything
individual.clear()
print(individual)

# fromkeys
new_user = {}.fromkeys(['name', 'score', 'email'], 'unknown')
print(new_user)

{}
{'name': 'unknown', 'score': 'unknown', 'email': 'unknown'}

In [9]:
# get
name = person.get('first_name') # returns value of the key
email = person.get('email')     # doesn't exist: None
print(email)

None

In [10]:
# pop
person.pop('married')   # pop out the k-v pair of the given key
print(person)

{'first_name': 'Humayun', 'last_name': 'Kabir', 'age': 25, 'sex': 'Male'}

In [11]:

# popitem
print(person.popitem())  # pop randomly one item
print(person)

('sex', 'Male')
{'first_name': 'Humayun', 'last_name': 'Kabir', 'age': 25}

In [12]:

# update
individual.update(person)
print(individual)

{'first_name': 'Humayun', 'last_name': 'Kabir', 'age': 25}

**Data Modelling**

In [13]:
playlist = {
    'title': "Patagonia Bus",
    'author': "Humayun",
    'songs': [
        {
            'song_title': "Song One",
            'artist': ['Artist 1', 'Artist 2'],
            'duration': 4.31,
        },
        {
            'song_title': "Song Two",
            'artist': ['Artist 1'],
            'duration': 2.53,
        },
        {
            'song_title': "Song Three",
            'artist': ['Artist 1', 'Artist 2', 'Artist 3'],
            'duration': 3.43,
        }
    ]
}

In [14]:
total_duration = 0.0
for song in playlist['songs']:
    total_duration += song['duration']
    print(song['song_title'])
print(total_duration)

Song One
Song Two
Song Three
10.27

**Dict Comprehension**

In [15]:
nums = {
    'a': 1,
    'b': 2,
    'c': 3
}

In [16]:
sq_nums = {key: value **2 for key, value in nums.items()}
print(sq_nums)

{'a': 1, 'b': 4, 'c': 9}

In [17]:
sq_numbers = {num: num**2 for num in [1, 2, 3, 4, 5]}
print(sq_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
str1 = 'ABC'
str2 = '123'
combo = {str1[i]:str2[i] for i in range(0, len(str1))}
print(combo)

{'A': '1', 'B': '2', 'C': '3'}

In [19]:

num_list = [1, 2, 3, 4, 5, 6]
parity = {num:("even" if num % 2 == 0 else "odd") for num in num_list}
print(parity)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}