<a href="https://colab.research.google.com/github/swapnil-mergal/Python2023practice/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def wish_birthday():
    print("Happy BirthDay")


wish_birthday()


def square_number(number):
    return number * number


val = square_number(4)
print(val)

Happy BirthDay
16

In [2]:
l1=[x for x in range(1,10)]
l2=list(map(square_number,l1))
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
#          lambda argument(s) : expression
greet = lambda : print('Welcome to AM609 class')

In [4]:
# call the lambda
greet()

Welcome to AM609 class

In [5]:
# lambda that accepts one argument
userclass = lambda name : print('This class is ', name)

# lambda call
userclass('DSTT AM609')

This class is  DSTT AM609

In [6]:
numbers = (1, 2, 3, 4)
result = list(map(lambda x: x*x, numbers))
print(result)

[1, 4, 9, 16]

In [7]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

In [8]:
num1 = [4, 5, 6, 10, 12, 15 ,99,100,1,21 ]

divby5=list(filter(lambda x: x%5==0,num1))
print(divby5)

[5, 10, 15, 100]

In [9]:
#reduce
from functools import reduce

letters=['A','M','6','0','9']
result=reduce(lambda x,y,:x+y,letters)
print(result)

AM609

In [10]:
def foo(x,y):
  def bar(z):
    return z*2
  return bar(x) + y

In [11]:
foo(2,3)

7

In [12]:
from random import random


def flip_coin():
    rand = random()
    if rand >= 0.5:
        return "Heads"
    else:
        return "Tails"


# function ovverriding
def flip_coin():
    if random() >= 0.5:
        return "HEADS"
    else:
        return "TAILS"


print(flip_coin())
print(flip_coin())
print(flip_coin())
print(flip_coin())

HEADS
TAILS
HEADS
HEADS

In [13]:
def add(a, b):
    return a + b

print(add(3, 4))


def full_name(first_name, last_name):
    print(f"Your Name is {first_name} {last_name}")

full_name("Humayun", "Kabir")

7
Your Name is Humayun Kabir

In [14]:
def exponent(num, power=2):     # default parameter
    return num ** power


print(exponent(3, 2))
print(exponent(4))
print(exponent(5))
# keyword arguements
print(exponent(power=3, num=4))


def add(a, b):
    return a + b


def subtract(a, b):
    return abs(a-b)


def math(a, b, fn = add):
    return fn(a, b)


print(math(3, 4))
func = add
print(math(3, 4, func))
func = subtract
print(math(3, 4, func))

9
16
25
64
7
7
1

In [15]:
def sum_all(num1, num2, num3):
    return num1+num2+num3


def sum_all(*args):
    total = 0
    for num in args:
        total += num
    return total


print(sum_all(4, 6, 7))
print(sum_all(4, 6, 7, 2, 7, 12, 15, 32))

17
85

In [16]:
def fav_colors(**kwargs):
    ''' kwargs comes as a dictionary '''
    print(kwargs)
    for person, color in kwargs.items():
        print(f"{person}'s favorite color is {color}")

fav_colors(sriju="red", faizu="yellow", kabir="black")


def special_greeting(**kwargs):
    if "David" in kwargs and kwargs["David"] == "special":
        return "You get a special greeting David"
    elif "David" in kwargs:
        return f"{kwargs['David']} David"
    return "Not sure who is this"

print(special_greeting(David='Hello'))
print(special_greeting(Bob='hey'))
print(special_greeting(David='special'))

{'sriju': 'red', 'faizu': 'yellow', 'kabir': 'black'}
sriju's favorite color is red
faizu's favorite color is yellow
kabir's favorite color is black
Hello David
Not sure who is this
You get a special greeting David

In [17]:
'''
1. parameters
2. *args
3. default parameters
4. **kwargs
'''

def display_info(a, b, *args, inst="Kabir", **kwargs):
    return [a, b, args, inst, kwargs]

print(display_info(1, 2, 3, name="Humayun", job="Teacher"))
'''
a - 1
b - 2
args - (3,)
inst - "Kabir"
kwargs - {'name': "Humayun", 'job': "Teacher"
'''

[1, 2, (3,), 'Kabir', {'name': 'Humayun', 'job': 'Teacher'}]

'\na - 1\nb - 2\nargs - (3,)\ninst - "Kabir"\nkwargs - {\'name\': "Humayun", \'job\': "Teacher"\n'

In [18]:
#UNPACK TUPLE
def sum_all(*args):
    print(args)
    total = 0

    for num in args:
        total += num
    print(total)


nums = [1, 2, 3, 4, 5, 6]
nums = (1, 2, 3, 4, 5, 6)

sum_all(*nums)

(1, 2, 3, 4, 5, 6)
21

In [19]:
#unpack dictionary
def display_name(first, second):
    print(f"{first} says hello to {second}")


name = {'first': "Charlie", 'second': "Puth"}
# display_name(first="Charlie", second="Puth")
display_name(**name)

Charlie says hello to Puth

In [20]:
#labmdas
def square(num): return num * num

# lambda : annonymous function
# only allow single expression, it is automatically returned
square2 = lambda num: num * num

add = lambda a, b : a + b

print(square2(5))
print(add(6, 7))
print(type(square2))

print(square.__name__)
print(square2.__name__)
print(add.__name__)

25
13
<class 'function'>
square
<lambda>
<lambda>

In [21]:
#map

nums = [1, 2, 3, 4, 5]
double = map(lambda x: x * 2, nums)
print(nums)
print(double)
for num in double:
    print(num, end=' ')
print()
_double = list(map(lambda x: x * 2, nums))
print(_double)

people = ["Darcy", "Christina", "Diana"]
peeps = list(map(lambda name: name.upper(), people))
print(peeps)

names = [
    {'first': "Rusty", 'last': "Steele"},
    {'first': "Colt", 'last': "Steele"},
    {'first': "Blue", 'last': "Steele"}
]

first_names = list(map(lambda name : name['first'], names))

print(names)
print(first_names)

[1, 2, 3, 4, 5]
<map object at 0x782a76d91750>
2 4 6 8 10
[2, 4, 6, 8, 10]
['DARCY', 'CHRISTINA', 'DIANA']
[{'first': 'Rusty', 'last': 'Steele'}, {'first': 'Colt', 'last': 'Steele'}, {'first': 'Blue', 'last': 'Steele'}]
['Rusty', 'Colt', 'Blue']

In [22]:
#filter

nums = [1, 2, 3, 4, 5, 6]

even = list(filter(lambda num : num % 2 == 0, nums))
print(even)

names = ['austin', 'penny', 'anthony', 'rihana', 'billy', 'angel']
a_names = list(filter(lambda name: name[0] == 'a', names))
print(a_names)

[2, 4, 6]
['austin', 'anthony', 'angel']

In [23]:
#filter map

users =[
    {'username': "samuel", 'tweets': ["I love cake", "i love pie"]},
    {'username': "katie", 'tweets': ["I love cat"]},
    {'username': "jeff", 'tweets': []},
    {'username': "bob123", 'tweets': []},
    {'username': "dogg_luvre", 'tweets': ["Dogs are best"]},
    {'username': "guiter_gal", 'tweets': []}
]
inactive_users = list(filter(lambda user: not user['tweets'], users))
print(inactive_users)

inactive_profile = list(map(lambda u: u['username'],
                        filter(lambda user: not user['tweets'], users)))
print(inactive_users)
print(inactive_profile)

inactive_profile2 = [user['username'] for user in users if not user['tweets']]
print(inactive_profile2)

[{'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'guiter_gal', 'tweets': []}]
[{'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'guiter_gal', 'tweets': []}]
['jeff', 'bob123', 'guiter_gal']
['jeff', 'bob123', 'guiter_gal']

In [24]:
names = ["Charlie", "Casey", "Codie", "Cristina"]
is_all_C = all([name[0] == 'C' for name in names])

names_ = names
names_.append("Draike")
is_any_not_C = any([name[0] != 'C' for name in names_])

print(is_all_C)
print(is_any_not_C)

True
True

In [25]:
#sorted

nums = [16, 12, 3, 54, 5]

print(sorted(nums))
print(nums)
nums.sort()
print(nums)
print(sorted(nums, reverse=True))

users =[
    {'username': "samuel", 'tweets': ["I love cake", "i love pie"]},
    {'username': "katie", 'tweets': ["I love cat"]},
    {'username': "jeff", 'tweets': []},
    {'username': "bob123", 'tweets': []},
    {'username': "dogg_luvre", 'tweets': ["Dogs are best"]},
    {'username': "guiter_gal", 'tweets': []}
]


print(sorted(users, key=lambda user: user['username']))
print(sorted(users, key=lambda user: len(user['tweets'])))

[3, 5, 12, 16, 54]
[16, 12, 3, 54, 5]
[3, 5, 12, 16, 54]
[54, 16, 12, 5, 3]
[{'username': 'bob123', 'tweets': []}, {'username': 'dogg_luvre', 'tweets': ['Dogs are best']}, {'username': 'guiter_gal', 'tweets': []}, {'username': 'jeff', 'tweets': []}, {'username': 'katie', 'tweets': ['I love cat']}, {'username': 'samuel', 'tweets': ['I love cake', 'i love pie']}]
[{'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'guiter_gal', 'tweets': []}, {'username': 'katie', 'tweets': ['I love cat']}, {'username': 'dogg_luvre', 'tweets': ['Dogs are best']}, {'username': 'samuel', 'tweets': ['I love cake', 'i love pie']}]

In [26]:
#min max

nums = [199, 34, 1, 763, 23, 1829, 29]
tup = (199, 34, 1, 763, 23, 1829, 29)

print(max(nums))
print(min(nums))

print(max(tup))
print(min(tup))

names = ['Arya', 'Samson', 'Dora', 'Tim', 'Olivander']
print(min(names))
print(max(names))
ans = min(len(name) for name in names)
print(ans)

ans = min(names, key=lambda name: len(name))
print(ans)
ans = max(names, key=lambda name: len(name))
print(ans)

songs = [
    {'title': "Happy Birthday", 'play_count': 1},
    {'title': "Survive", 'play_count': 6},
    {'title': "YMCA", 'play_count': 99},
    {'title': "Toxic", 'play_count': 31},
]
print(min(songs, key=lambda song:song['play_count']))
print(max(songs, key=lambda song:song['play_count']))
print(min(songs, key=lambda song:song['play_count'])['title'])
print(max(songs, key=lambda song:song['play_count'])['title'])

1829
1
1829
1
Arya
Tim
3
Tim
Olivander
{'title': 'Happy Birthday', 'play_count': 1}
{'title': 'YMCA', 'play_count': 99}
Happy Birthday
YMCA

In [27]:
#zip

midterms = [80, 91, 78]
finals = [98, 89, 53]
students = ['dan', 'ang', 'kate']


# returns dict with {student:highest score} USING DICT COMP
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = {t[0]:max(t[1], t[2]) for t in zip(students, midterms, finals)}


# returns dict with {student:highest score} (same thing as above) USING MAP+LAMBDA
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = dict(
	zip(
		students,
		map(
			lambda pair: max(pair),
			zip(midterms, finals)
		)
	)
)

# returns dict with student:average score
# {'dan': 89.0, 'ang': 90.0, 'kate': 65.5}
avg_grades = dict(
	zip(
		students,
		map(
			lambda pair: ((pair[0]+pair[1])/2),
			zip(midterms, finals)
		)
	)
)

print(final_grades)
print(avg_grades)

{'dan': 98, 'ang': 91, 'kate': 78}
{'dan': 89.0, 'ang': 90.0, 'kate': 65.5}