<a href="https://colab.research.google.com/github/swapnil-mergal/Python2023practice/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = ["musa", 25, True, 45.678]

print(my_list)
print(len(my_list))

['musa', 25, True, 45.678]
4

In [2]:
for item in my_list:
    print(item, end=' ')
print()

r = range(1, 10)
print(r)
print(list(r))

musa 25 True 45.678
range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
colors = ["purple", "teal", "magenta", "blue"]

# iterate using for-loop
for color in colors:
    print(color, end=' ')
print()

purple teal magenta blue

In [4]:
# iterate using while loop
x = 0
while x < len(colors):
    print(colors[x], end=' ')
    x += 1

purple teal magenta blue

# append: add one item to the list
# extend: add more than one item to the list
# insert: add one item at a given position
# clear: remove all items from the list
# demo: remove last element or element in the given position
# remove: remove the first appearance of a given **number**

In [5]:
list = []
list.append(70)
list.append(16)
list.append(37)
print(list)

[70, 16, 37]

In [6]:
list_one = [1, 2, 4]
list_two = [5, 6, 7, 8]
list_one.insert(2, 3)
print(list_one)

[1, 2, 3, 4]

In [7]:
# list_one.append(list_two)
list_one.extend(list_two)
print(list_one)

demo = list_two
print(demo)
demo.clear()
print(demo)

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8]
[]

In [8]:
demo = list_one
print(demo.pop())
print(demo.pop(1))

8
2

In [9]:
nums = [1, 3, 4, 6, 5, 4]
nums.remove(4)
print(nums)

[1, 3, 6, 5, 4]

**List Methods**

In [10]:
numbers = [5, 9, 5, 6, 7, 5, 8, 8, 9, 10, 15]
# index
print(numbers.index(5))         # first appearance of 5 #0
print(numbers.index(5, 3))      # first appearance of 5 after index 3 #5
print(numbers.index(9, 6, 9))   # first appearance of 5 in between index 6 & 9 #8
print()

0
5
8

In [11]:
# count()
print(numbers.count(5))     #3
print(numbers.count(14))    #0
print(numbers.count(8))     #2

3
0
2

In [12]:
# reverse()
numbers.reverse()
print("Reversed: ")
print(numbers)

Reversed:
[15, 10, 9, 8, 8, 5, 7, 6, 5, 9, 5]

In [13]:
# sort()
numbers.sort()
print("Sorted: ")
print(numbers)

Sorted:
[5, 5, 5, 6, 7, 8, 8, 9, 9, 10, 15]

**Slicing a LIST**

In [14]:
first_list = [1, 2, 3, 4, 5, 6]
# exclusing counting
print(first_list[3:])       # [4 5 6]
print(first_list[:3])       # [1 2 3]
print(first_list[2:5])      # [3 4 5]

[4, 5, 6]
[1, 2, 3]
[3, 4, 5]

In [15]:
# [start:end:step]
print(first_list[20:])      # []
print(first_list[1::2])     # [2 4 6]
print(first_list[1:6:2])    # [2 4 6]
print(first_list[::2])      # [1 3 5]

[]
[2, 4, 6]
[2, 4, 6]
[1, 3, 5]

In [16]:
print(first_list[1::-1])    # [2 1]
print(first_list[:1:-1])    # [6 5 4 3]
print(first_list[2::-1])    # [3 2 1]

[2, 1]
[6, 5, 4, 3]
[3, 2, 1]